# Application
RAILS_ENV=development
RAILS_MAX_THREADS=5

# Database - local development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=123456
DATABASE_NAME=meu_primeiro_rails_api_development
DATABASE_TEST_NAME=meu_primeiro_rails_api_test

# Production
APP_DATABASE_PASSWORD=change_me
DATABASE_CACHE_NAME=app_production_cache
DATABASE_QUEUE_NAME=app_production_queue
DATABASE_CABLE_NAME=app_production_cable